<!-- one column for the about me display picture and other column for content describing the website owner -->

<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag "profile.jpeg" %>
    </div>

    <div id="content">
        <!-- profile owner name -->
        <h1> It's Mr Stick Figure </h1>
        <!-- content about the owner -->
        <p>Vestibulum facilisis, purus nec pulvinar iaculis, ligula mi congue nunc, vitae euismod ligula urna in dolor. Sed lectus. Vestibulum ullamcorper mauris at ligula. Aenean imperdiet. Curabitur suscipit suscipit tellus.

        Pellentesque libero tortor, tincidunt et, tincidunt eget, semper nec, quam. Curabitur at lacus ac velit ornare lobortis. In ut quam vitae odio lacinia tincidunt. Nunc sed turpis. Nunc sed turpis.</p>
    </div>
</div>